/***************************
SPACING
***************************/

* {
  box-sizing: border-box;
}

#wrapper {
  max-width: 1400px;
  padding-top: 2%;
  padding-right: 8%;
  padding-bottom: 0%;
  padding-left: 9%;
}

.sidea {
  width: 15%;
  float: left;
  padding: 0;
}

.sideb {
  width: 80%;
  height:100%;
  float: left;
}

@media screen and (max-width: 1000px) {

  #wrapper {
    padding: 2%;
  }

  .sidea {
    width: 100%;
  }

  .sideb {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {

  .sideb {
  border-left: 1px solid #000000;
  }
}

/***************************
BACKGROUND & Fonts
***************************/

body {
  background: #FFFFFF;
  color: #000000;
  font-size: 1.3em;
  line-height: 1.5em;
  font-family: 'Alegreya Sans', sans-serif; 
  text-align: justify;
}

#textlogo {
  font-size: 1.8em;
  line-height: 1.4em;
  color: #000000;
  padding-right: 10%;
  padding-left: 30%;
  font-weight: 900;
  font-style: italic;
  letter-spacing:-.03em;
  font-family: 'Playfair Display', serif; 
  opacity: 0.5;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding-left: -2%;
  font-size: 0.95em;
}

.sidea {

    padding-right: 15%;
}

.sideb {
  padding-top: 5%;
  padding-left:5%;
}

#aboutme {
  border: 1px solid #000000;
  background: #FBFBFB;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: 'Alegreya Sans', sans-serif; 

}

mark {
  background-color: rgba(255,192,203,.5);
}


#cv {
  padding-top: 2%;
}

#contact {
  font-size: 0.9em;
}

#title {
  font-weight: 900;
  font-family: 'Alegreya Sans', sans-serif; 
}

/***************************
LINKS
***************************/

/* mouse over link */
a {
  border-bottom:4px solid #BBEE66;
  text-decoration:none;
  color: #000000;
  }


a:hover {
  background-image: linear-gradient(to right,pink, #BBEE66);}

/***************************
ACCORDION
***************************/

.accordion {
  padding-left: 1%;
  font-size: 1em;
  background-color: #FFFFFF;
  color: #000000;
  text-transform:uppercase;letter-spacing:.025em;
  text-align: justify;
  border: none;
  outline: none;
}

.accordion:before{content:'+' }
.active:before{content:'–' }

.accordion:hover {
background-image: linear-gradient(to right,pink, #BBEE66);
}

.active {
  background-image: linear-gradient(to right,pink, #BBEE66);
}

.panel {
    border: 1px solid #000000;
    /* background: #FBFBFB; */
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.9em;
    line-height: 1.4em;
    display: none;
    overflow: hidden;
    text-align: justify;
}

/***************************
talks and publications
***************************/

.panel time {
font-family: 'Founders Grotesk Web', 'Helvetica', -apple-system, 'Arial', sans-serif;
font-weight: 500;
font-size: 0.6em;
letter-spacing: 0.1em;
line-height: 0.9em;
text-transform:uppercase;
padding-right: 1%;
}

.panel a {
border-bottom: 2px solid #BBEE66;
}

.presentation {
  display: grid;
  grid-template-columns: 21% 70% 9%;
}


#talktitle{
  margin-top:1.5%;
  font-size: 0.8em;
  font-style: italic;
  line-height: 1em;
  margin-bottom: -0.5%;
}

#authors{
  font-size: 0.6em;
  text-transform:uppercase;
  left: 0px;
  margin-bottom: -2%;
}

#conference{
    font-size: 0.7em;
    left: 0px;
    margin-bottom: 2%;
}

#talk:before{
margin-left: 5%;
content:'talk';
font-family: 'Founders Grotesk Web', 'Helvetica', -apple-system, 'Arial', sans-serif;
font-size: 0.6em;
letter-spacing: 0.1em;
text-transform:uppercase;
background:pink;
}

#poster:before{
margin-left: 3%;
content:'poster';
font-family: 'Founders Grotesk Web', 'Helvetica', -apple-system, 'Arial', sans-serif;
font-size: 10px;
letter-spacing: 1px;
text-transform:uppercase;
background:#BBEE66;}

#description {
  max-width: 100%;
}
