/* CSS */

/*
Font definitions
*/

@font-face {
font-family: "Goudy Bookletter 1911";
src: url(../webfonts/goudy_bookletter_1911-webfont.eot);
src: url(../webfonts/goudy_bookletter_1911-webfont.woff) format("woff"),
url(../webfonts/goudy_bookletter_1911-webfont.tff) format("truetype"),
url(../webfonts/goudy_bookletter_1911-webfont.svg#filename) format("svg");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: "Museo Sans";
src: url(../webfonts/MuseoSans_500.otf) format("opentype"),
src: url(../webfonts/MuseoSans_500-webfont.woff) format("woff"),
src: url(../webfonts/MuseoSans_500-webfont.woff2) format("woff2"),
url(../webfonts/MuseoSans_500-webfont.svg#filename) format("svg");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: "Museo Sans";
src: url(../webfonts/MuseoSans_500_Italic.otf) format("opentype"),
src: url(../webfonts/MuseoSans_500_Italic-webfont.woff) format("woff"),
src: url(../webfonts/MuseoSans_500_Italic-webfont.woff2) format("woff2"),
url(../webfonts/MuseoSans_500_Italic-webfont.svg#filename) format("svg");
font-weight: 500;
font-style: italic;
}


/*
Body
*/

::-moz-selection { background-color: #e58f65; color: #511730;}
::selection { background-color: #e58f65; color: #511730; }

.body-container {
    padding-top: 1.7vh;
    padding-bottom: 1.7vh;
    margin-left: 25vw;
    font-size: 18px;
}

.body-container .main-head {
  background-color: #f1f9f3;
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.05em;
    padding: 2vh;
    font-size: 24pt;
    text-transform: uppercase;
    border-top: 2px solid #14281d;
    border-bottom: 4px solid #14281d;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    z-index: 99;
}

#sticky-header {
  position: fixed;
  margin-top: 0;
  width: 100%
}

.main-head:hover {
  background: #FCFEFC;
}

.body-container .sub-head {
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.05em;
    padding: 2vh;
    font-size: 18pt;
    text-transform: uppercase;
    border-top: 2px solid #14281d;
    border-bottom: 3px solid #14281d;
}

.this-blurb {
    padding: 3vh;
    padding-left: 5vw;
    padding-right: 12vw;
    font-size: 14pt;
    border-bottom: 1px solid #14281d;
    background: linear-gradient(#14281d, #14281d) no-repeat 2% 50%/2px 100%;
    background: linear-gradient(#14281d, #14281d) no-repeat 90% 50%/2px 100%;
}

/* Anywhere that a lopsided two-column is needed */
.body-panels {
  padding: 0vh;
  font-size: 12pt;
  border-top: 2px solid #14281d;
  border-bottom: 2px solid #14281d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "body-panel-1 body-panel-1 body-panel-2";
  grid-gap: 0rem;
  row-gap: 0rem;
  overflow-y: hidden;
}


.body-panel-1, .body-panel-2 {
    min-height: 30vh;
    font-size: 12pt;
    border-right: 2px solid #14281d;
    text-align: justify;
}

.body-panel-1{grid-area: body-panel-1; padding: 3vh;}
.body-panel-2{grid-area: body-panel-2; padding:2vh;}

body {
    font-size: 1vw;
    color: #14281d;
    margin: 0;
    padding: 0;
    font-family: "Museo Sans", "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

a {
    color: #E16261;
    transition: all 0.5s ease;
    display: inline-block;
    transform-origin: left top;
    text-decoration: none;
}

a:focus, a:link, a:visited {
    color: #E16261;
    text-decoration: none;
}
a:hover {
    color: #511730;
    text-decoration: none;
    transform: skewx(5deg);
}

html {
    background-color: #f1f9f3;
    font-size: 1vw;
}



/*
Sidebar
*/

.sidebar {
  /* sets up the fixed sidebar */
    height: 99vh;
    width: 25vw;
    position: fixed;
    padding-top: 1vh;
    left: 0;
    background-color: #f1f9f3;
    border-right: 1px dotted #acc3b9;
    /* vertical line at 15% of sidebar width */
    background: linear-gradient(#14281d, #14281d) no-repeat 15% 50%/1px 100%;
}

.sidebar-item {
  /* generic sidebar item */
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.05em;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-top: 2px solid #14281d;
    background-color: #f1f9f3;
    font-size: 18pt;
    display: block;
    cursor:pointer;
}

.sidebar-item a{display: block;}

.sidebar .name {
  background: none;
    font-family: "Roboto Mono", monospace;
    line-height: 24pt;
    letter-spacing: -0.05em;
    padding-top: 6vh;
    text-transform: uppercase;
    padding-bottom: 1vh;
    font-size: 28pt;
    text-align: right;
    transition: all 2s ease-in-out;
    cursor:default;
}

.sidebar .name:hover {
    letter-spacing: 0.1em;
}

.sidebar .bottoms-up {
    padding-top: 2vh;
    border-bottom: 4px solid #14281d;
    position: absolute;
    bottom: 1.7vh;
    left: 0;
    right: 0;
    padding-bottom: 1vh;
    font-size: 11pt;
    text-align: center;
    text-transform: uppercase;
}

.email {
  font-family: "Roboto Mono", monospace;
  line-height: 24pt;
  letter-spacing: 0em;
    text-transform: none;
    font-style: italic;
    font-size: 12pt;
}


.bottoms-up .last-updated{
  font-size:8pt;
  text-align: left;
}

.sidebar a {
    color: #14281d;
    transition: all 1.4s ease;
}

.sidebar a:hover {
    transform: translate(20px, 0);
    cursor: pointer;
    background: none;
    color: #376d4f;
}

.sidebar .email a {
    color: #14281d;
}

.sidebar .email a:hover {
    transform: none;
    cursor: pointer;
    background: none;
    color: #376d4f;
}

.sidebar .sidebar-selected {
    transform: translate(40px, 0);
    color:#376d4f;
    cursor: pointer;
}

.sidebar hr{
  border-top: 1px solid #14281d;
  margin-left:-2vh;
  margin-right:-2vh;
}



/*
Publication styling.
*/

/* Grid / list switchover */

.this-grid {
  padding: 0vh;
  font-size: 14pt;
  border-top: 2px solid #14281d;
  border-bottom: 4px solid #14281d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0rem;
  row-gap: 0rem;
  overflow-y: hidden;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.this-list {
  padding: 0vh;
  font-size: 14pt;
  border-bottom: 4px solid #14281d;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0rem;
  row-gap: 0rem;
  overflow-y: hidden;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(#14281d, #14281d) no-repeat 2% 50%/2px 100%;
}

.publication{
  padding:3vh;
  border-right: 1px dotted #acc3b9;
  border-bottom: 1px dotted #acc3b9;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.this-list .publication {
    padding:2vh;
}

.this-list .publication > * {
  padding-left: 3%;
  width: 75%;
}

.this-list .publication-supplementary {
  width: 40%;
}

/*
Grid toggle formatting
*/

#grid-toggle-wrapper{
  display: inline-block;
  position: relative;
  text-align: right;
  padding: 2vh;
  transition: all 0.5s ease;
  padding-right: 3vh;
}

.angled::before{
  background: linear-gradient(#14281d, #14281d) no-repeat 2% 50%/3px 100%;
  position: absolute;
  content: " ";
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  transform: skew(-45deg);
  transform-origin: bottom left;
  transition: all 0.5s ease;
  pointer-events: none;
}

.angled {
  width:98%;
  border-bottom: 1px dotted #acc3b9;
}

.angled .controls{
  padding-right: 3%;
}

.straight::before{
  background: linear-gradient(#14281d, #14281d) no-repeat 2% 50%/2px 100%;
  position: absolute;
  content: " ";
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  pointer-events: none;
}

.straight {
  width:98%;
}

.straight .controls{
  padding-right: 3%;
}

#grid-toggle-wrapper a{
    color: #14281d;
    transition: all 0.5s ease;
}

#grid-toggle-wrapper a:hover {
    transform: none;
    cursor: pointer;
    background: none;
    color: #376d4f;
}

/*
Publication title formatting.
*/

.publication:hover{
  background: #FCFEFC;
}

.publication-title, .publication-title-noarxiv{
  font-size:13pt;
  padding-bottom:3pt;
}

.publication-authors{
  font-size:11pt;
  font-family: 'Goudy Bookletter 1911','Sorts Mill Goudy',serif;
  line-height: 10pt;
  padding-bottom:3pt;
}
.publication-status{
  font-size:10pt;
  line-height: 11pt;
}

.publication-year{
  font-size:10pt;
  display: inline-block;
  padding-bottom:4pt;
}


.publication-arxiv::before{
  content:"arXiv: ";
}

.publication-arxiv,.publication-arxiv::before{
  font-family: "Roboto Mono", monospace;
  font-size:9pt;
  font-weight: bold;
}

.publication-doi::before{
  content:"doi: ";
  font-weight: bold;
}

.publication-doi,.publication-doi::before{
  font-family: "Roboto Mono", monospace;
  font-size:8pt;
}

.publication-supplementary{
  padding-top: 1vh;
  font-family: "Roboto Mono", monospace;
  font-size:8pt;
}

.talk-slides{
  font-size:10pt;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
.talk-location{
  font-size:11pt;
  font-family: 'Goudy Bookletter 1911','Sorts Mill Goudy',serif;
  line-height: 10pt;
  padding-bottom:3pt;
}

.talk-date{
  font-size:11pt;
  font-family: 'Goudy Bookletter 1911','Sorts Mill Goudy',serif;
  line-height: 10pt;
  padding-bottom:3pt;
}




