/* CSS */

/*
Font definitions
*/

@font-face {
font-family: "Goudy Bookletter 1911";
src: url(../webfonts/goudy_bookletter_1911-webfont.eot);
src: url(../webfonts/goudy_bookletter_1911-webfont.woff) format("woff"),
url(../webfonts/goudy_bookletter_1911-webfont.tff) format("truetype"),
url(../webfonts/goudy_bookletter_1911-webfont.svg#filename) format("svg");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: "Museo Sans";
src: url(../webfonts/MuseoSans_500.otf) format("opentype"),
src: url(../webfonts/MuseoSans_500-webfont.woff) format("woff"),
src: url(../webfonts/MuseoSans_500-webfont.woff2) format("woff2"),
url(../webfonts/MuseoSans_500-webfont.svg#filename) format("svg");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: "Museo Sans";
src: url(../webfonts/MuseoSans_500_Italic.otf) format("opentype"),
src: url(../webfonts/MuseoSans_500_Italic-webfont.woff) format("woff"),
src: url(../webfonts/MuseoSans_500_Italic-webfont.woff2) format("woff2"),
url(../webfonts/MuseoSans_500_Italic-webfont.svg#filename) format("svg");
font-weight: 500;
font-style: italic;
}


/*
Sidebar
*/

.sidebar {
  /* sets up the fixed sidebar */
    height: 99vh;
    width: 25vw;
    position: fixed;
    padding-top: 1vh;
    left: 0;
    background-color: #f1f9f3;
    border-right: 1px dotted #acc3b9;
    /* vertical line at 15% of sidebar width */
    background: linear-gradient(#000, #000) no-repeat 15% 50%/1px 100%;
}

.sidebar-item {
  /* generic sidebar item */
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.05em;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-top: 2px solid #14281d;
    background-color: #f1f9f3;
    font-size: 18pt;
    display: block;
}

.sidebar .name {
  background: none;
    font-family: "Roboto Mono", monospace;
    line-height: 24pt;
    letter-spacing: -0.05em;
    padding-top: 8vh;
    text-transform: uppercase;
    padding-bottom: 1vh;
    font-size: 28pt;
    text-align: right;
}

.sidebar .bottoms-up {
    padding-top: 2vh;
    border-bottom: 4px solid #14281d;
    position: absolute;
    bottom: 1.5vh;
    left: 0;
    right: 0;
    padding-bottom: 1vh;
    font-size: 11pt;
    text-align: center;
    text-transform: uppercase;
}

.email {
  font-family: "Roboto Mono", monospace;
  line-height: 24pt;
  letter-spacing: 0em;
    text-transform: none;
    font-style: italic;
    font-size: 12pt;
}


.bottoms-up .last-updated{
  font-size:8pt;
  text-align: left;
}

.sidebar a {
    color: #14281d;
}

.sidebar a:hover {
    transform: translate(50px, 0);
    cursor: pointer;
    background: none;
    color: #376d4f;
}

.sidebar .sidebar-selected {
    transform: translate(50px, 0);
    color:#376d4f;
    cursor: pointer;
}

/*
Body
*/

.body-text {
    padding-top: 1.7vh;
    margin-left: 25vw;
    font-size: 18px;
}

.body-text .main-head {
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.05em;
    padding: 2vh;
    font-size: 24pt;
    text-transform: uppercase;
    border-top: 2px solid #14281d;
    border-bottom: 4px solid #14281d;
}

.body-text .sub-head {
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.05em;
    padding: 2vh;
    font-size: 18pt;
    text-transform: uppercase;
    border-top: 2px solid #14281d;
    border-bottom: 3px solid #14281d;
}

.this-blurb {
    padding: 5vh;
    font-size: 14pt;
    border-bottom: 4px solid #14281d;
}


body {
    font-size: 1vw;
    color: #14281d;
    margin: 0;
    padding: 0;
    font-family: "Museo Sans", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

a {
    color: #e58f65;
    transition: all 0.5s ease;
    display: inline-block;
    transform-origin: left top;
    text-decoration: none;
}

a:focus, a:link, a:visited {
    color: #e58f65;
    text-decoration: none;
}
a:hover {
    color: #3f2827;
    text-decoration: none;
    transform: skewx(10deg);
}

html {
    background-color: #f1f9f3;
    font-size: 1vw;
}

.sidebar hr{
  border-top: 1px solid #14281d;
  margin-left:-2vh;
  margin-right:-2vh;
}

/* Publication styling. */

.this-inventory {
    padding: 5vh;
    font-size: 12pt;
    border-bottom: 2px solid #14281d;
}

.this-inventory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  row-gap: 4ch;
  overflow-y: hidden;
}

.publication{
  padding:1vh;
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.publication:hover{
  background: #FCFEFC;
}

.publication-title{
  font-size:12pt;
}

.publication-authors{
  font-size:12pt;
  font-family: 'Goudy Bookletter 1911';
}

.publication-status{
  font-size:10pt;
}

.publication-year{
  font-size:10pt;
  display: inline-block;
}


.publication-arxiv::before{
  content:"arXiv: ";
}

.publication-arxiv,.publication-arxiv::before{
  font-family: "Roboto Mono", monospace;
  font-size:9pt;
  font-weight: bold;
}

.publication-doi::before{
  content:"doi: ";
  font-weight: bold;
}

.publication-doi,.publication-doi::before{
  font-family: "Roboto Mono", monospace;
  font-size:8pt;
}

.publication-supplementary{
  padding-top: 1vh;
  font-family: "Roboto Mono", monospace;
  font-size:8pt;
}
